/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* * {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Work Sans", sans-serif;
}
section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
}
/* .first {
  max-width: 1140;
  margin: 0 auto;
  background: #000;
  width: 600px;
} */
.btn-primary {
  color: #005fac;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  cursor: pointer;
  margin-top: 24px;
}
.btn-primary:hover {
  background-color: #005fac;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.2s ease-in-out;
}
.btn_secondery {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #005fac;
  padding: 20px 25px;
  cursor: pointer;
  margin-top: 24px;
}
.btn_secondery:hover {
  color: #005fac;
  background-color: #fff;
  border: 2px solid #005fac;
  transition: 0.2s ease-in-out;
}
li {
  list-style: none;
  text-align: left;
}

header {
  background-image: url("../images/think_out.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 216px 230px 260px 0;
  text-align: right;
}

.section_title {
  color: #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section_description {
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* banner styles */
.banner-title {
  color: #fff;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-description {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
  margin-bottom: 4px;
}
/* failures styles */
.failures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 180px;
}

.filuer_alignment {
  margin-top: 24px;
  margin-bottom: 16px;
}

.green {
  color: #16d887;
  margin-right: 12px;
}

/* my plan styles */

.center {
  text-align: center;
}

.plan_container {
  display: flex;
  justify-content: center;
  gap: 90px;
  text-align: center;
  margin-top: 50px;
}

/* call now styles */
.call_now {
  background-image: url("../images/overlay.png"), url("../images/hand-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 64px;
  border-radius: 8px;
}

.white {
  color: white;
}

/* footer styles */

footer {
  background-color: black;
  margin-top: 130px;
  padding: 130px 230px;
}

.footer_container {
  display: flex;
  justify-content: space-around;
}

.alignment {
  margin-top: 16px;
  margin-bottom: 24px;
}

.subscribe {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input {
  display: block;
  padding: 20px;
  background-color: black;
  border: 1px solid white;
  width: 285px;
  border-radius: 8px;
  margin-top: 30px;
}

.icon_style {
  margin-top: 32px;
  color: white;
  font-size: 35px;
  display: flex;
  gap: 30px;
}
